.formcard {
  background-color: #521551;
  border-radius: 1%;
  margin: auto;
  width: 35%;
  height: 450px;
  min-width: 400px;
}
form {
  color: white;
}
.spacer {
  padding-top: 40px;
}
.title {
  color: white;
  justify-items: center;
  justify-content: center;
  display: flex;
  font-size: 45px;
}
.fieldsection {
  margin: auto;
  width: 65%;
  margin-top: 15px;
}
.field {
  width: 100%;
}
button {
  padding: 2% 10%;
  border-radius: 2%;
  border: white;
  background-color: white;
  color: #521551;
  font-size: medium;
  font-weight: bolder;
}
input {
  padding: 2% 5%;
  border: white;
  border-radius: 2%;
}
.signupbutton {
  margin-top: 10px;
}
