<div class="d-flex justify-content-center p-2 m-2">
  <h1 style="color: tomato">Revision Exercise</h1>
</div>
<div
  width="vw"
  height="vh"
  style="margin: auto; width: 70%"
  class="d-flex justify-content-center"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xm-12 col-sm-10 col-md-8 col-lg-6 col-xl-5" id="content">
        <div class="row">
          <div class="col pt-5 pb-5">Circle</div>
        </div>
        <div class="row">
          <div
            class="col pt-5 pb-5"
            style="
              color: rgb(0, 81, 255);
              font-weight: bolder;
              font-size: larger;
            "
          >
            {{ currentQuestion.question }}
          </div>
        </div>
        <div class="row">
          <div class="col pt-5 pb-3">
            Timer:{{ intialTimer === 0 ? timer : intialTimer }}
          </div>
        </div>
        <div class="row pt-5">
          <div class="col">
            <button
              type="button"
              class="btn btn-primary"
              style="width: 100%; height: 50px"
            >
              {{ currentQuestion.option1 }}
            </button>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col">
            <button
              type="button"
              class="btn btn-warning"
              style="width: 100%; height: 50px"
            >
              {{ currentQuestion.option2 }}
            </button>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col">
            <button
              type="button"
              class="btn btn-danger"
              style="width: 100%; height: 50px"
            >
              {{ currentQuestion.option3 }}
            </button>
          </div>
        </div>
        <div class="row pt-2 mb-4">
          <div class="col">
            <button
              type="button"
              class="btn btn-danger"
              style="width: 100%; height: 50px"
            >
              {{ currentQuestion.option4 }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
