.toolbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #521551;
  height: 70px;
}
.toolbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar_logo a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.toolbar_navigation_items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.spacer {
  flex: 1;
}
.toolbar_navigation_items a {
  color: white;
  text-decoration: none;
}
.toolbar_navigation_items li {
  padding: 0 1rem;
}
.toolbar_navigation_items a:hover {
  color: red;
}
