<nav class="navbar bg-danger shadow p-2 mb-2">
  <a class="navbar-brand" style="margin-top: -10px; margin-left: 20px"
    ><img height="60px" width="130px" src="../../assets/logo.png"
  /></a>
  <button class="navbar-toggler" type="button">
    <img src="../../assets/avatar.png" alt="Avatar" class="avatar" />
  </button>
</nav>
<h2 class="text-center" style="margin-bottom: -30px">Add Questions</h2>

<app-video-question></app-video-question>
<app-revision-question></app-revision-question>
<app-game-question></app-game-question>
<app-testpaper-question></app-testpaper-question>
